@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

:root {
  /**Primary colors**/
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /** Font Family **/
  --main: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: var(--light-gray);
  font-family: var(--main);
}

/**Main Styles**/
.card {
  width: 300px;
  height: 500px;
  margin: 40px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 15px;
  margin: 100px auto 100px;
  text-align: center;
}

.img {
  width: 100%;
  border-radius: 15px ;
}

.title {
  color: var(--dark-blue);
  font-size: 1.3rem;
  margin: 20px auto 20px;
}

.paragraph {
  color: var(--grayish-blue);
  font-weight: 400;
}

/**Footer**/
.attribution {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  color: var(--dark-blue);
}

.attribution > a {
  text-decoration: none;
  color: var(--dark-blue);
}
